.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;

    flex-flow: row nowrap;
}

.primary {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.secondary {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}