#interaction {
    position: relative;

    overflow: hidden;
}

.interaction__figure-container {
    display: none;
}

.interaction__container {
    display: flex;
    flex-direction: column;

    height: 100%;

    align-items: center;
    justify-content: center;
}

.interaction__info {
    display: flex;
    flex-direction: column;
}

.interaction__title {
    letter-spacing: 0.03em;
}

.interaction__header > h5::after {
    display: inline-block;

    content: "";
}

.interaction__header > h5 {
    display: flex;
    flex-direction: column;
}

.interaction__card-item {
    transform: rotate(45deg);

    border: 2px solid var(--color-card);
    border-radius: 8px;
}

.interaction__card-content-wrapper {
    width: 100%;
    height: 100%;

    color: black;
    border-radius: inherit;
    background-color: var(--color-card);
}

.interaction__card-content {
    width: 100%;
    height: 100%;

    transform: rotate(-45deg);
}

.interaction__card-content > img {
    position: relative;
    top: 0.1vw;
    left: 3vw;

    width: 43%;
    margin-bottom: 5px;
}

.interaction__card-content > figcaption {
    position: relative;

    height: 50%;

    text-align: center;
    letter-spacing: 0.03em;

    font-size: 1.35em;
    font-weight: 700;
    line-height: 1.25em;
}