@media only screen and (--desktop-viewport) {
    #interaction {
        height: 82.4vh;
    }

    .interaction__card-item {
        position: absolute;

        width: 11.5vw;
        height: 11.5vw;
        padding: 9px;
    }

    #ask {
        top: 7.9vw;
        right: 26.5vw;
    }

    #choose {
        top: 15.35vw;
        right: 17.2vw;
    }

    #select {
        top: 22.8vw;
        right: 26.5vw;
    }
}
