@media only screen and (--mobile-viewport) {
    #interaction {
        height: 160vw;
        min-height: 465px;
    }

    .interaction__container {
        width: 90%;
        padding: 5% 0;
    }

    .interaction__info {
        flex: 1 1 55%;

        order: 1;
    }

    .interaction__title {
        width: 100%;
        margin: 0 0 2.7%;

        text-align: center;

        font-size: 6em;
        line-height: 1.24em;
    }

    .interaction__header {
        padding-bottom: 6%;
    }

    .interaction__header > h5 {
        letter-spacing: 0.06em;

        font-size: 5em;

        align-items: center;
    }

    .interaction__header > h5::after {
        width: 19vw;
        height: 1px;
        margin-top: 12px;

        border: 1px solid;
    }

    .interaction__content {
        width: 100%;

        text-align: center;
        letter-spacing: 0.025em;
        word-break: break-word;

        font-size: 3.8em;
        font-weight: bold;
        line-height: 1.31em;
    }

    .interaction__cards {
        display: flex;
        flex-direction: row;
        flex: 1 1 15%;

        width: 100%;
        padding-bottom: 10%;

        align-items: center;
        justify-content: space-around;
    }

    .interaction__card-item {
        width: 24.8vw;
        height: 24.8vw;
        padding: 5px;
    }

    figure#ask {
        top: 7.9vw;
        right: 26.5vw;
    }

    figure#choose {
        top: 15.35vw;
        right: 17.2vw;

        order: 2;
    }

    figure#select {
        top: 22.8vw;
        right: 26.5vw;
    }

    .interaction__card-content > img {
        left: 5.9vw;

        margin-bottom: 0;
    }

    .interaction__card-content > figcaption {
        font-size: 3em;
    }
}
