@media only screen and (--mobile-viewport) {
    #interaction {
        height: 160vw;
        min-height: 465px;
    }

    .interaction__card-item {
        width: 24.8vw;
        height: 24.8vw;
        padding: 5px;
    }

    #ask {
        top: 7.9vw;
        right: 26.5vw;
    }

    #choose {
        top: 15.35vw;
        right: 17.2vw;

        order: 2;
    }

    #select {
        top: 22.8vw;
        right: 26.5vw;
    }

    .interaction__card-icon {
        left: 5.9vw;

        margin-bottom: 0;
    }

    .interaction__card-description {
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.2rem;
    }
}
