@media only screen and (--mobile-viewport) {
    .interaction__container {
        width: 320px;
    }

    .interaction__card-item {
        width: 40px;
        height: 40px;
        padding: 2px;

        border-radius: 2px;
    }

    .interaction__template-layout__info-header {
        padding-bottom: 11px;
    }

    .interaction__template-layout__info-header__title {
        margin-bottom: 5px;

        font-size: 9px;
    }

    .interaction__template-layout__info-header__subtitle {
        letter-spacing: 0.25px;

        font-size: 6.4px;
    }

    .interaction__card-content {
        padding: 0;
    }

    .interaction__template-layout__info-content {
        font-size: 5px;
    }

    .interaction__template-layout__info-content-paragraph {
        display: inline;

        letter-spacing: 0.2px;

        line-height: 7px;
    }

    .interaction__template-layout__graphical-info {
        width: 100%;
        padding: 14px 22px 10px;
    }

    #ask {
        top: 7.9vw;
        right: 26.5vw;
    }

    #choose {
        top: 15.35vw;
        right: 17.2vw;

        order: 2;
    }

    #select {
        top: 22.8vw;
        right: 26.5vw;
    }


    .interaction__card-icon {
        width: 16px;
        margin-bottom: 0;
    }

    .interaction__card-description {
        font-size: 5px;
        font-weight: 700;
    }
}
