@media only screen and (--tablet-viewport) {
    #interaction {
        height: 62vw;
    }

    .interaction__container {
        width: 768px;
    }

    .interaction__card-item {
        width: 11.8vw;
        height: 11.8vw;
        padding: 5px;
    }

    #ask {
        top: 7.9vw;
        right: 26.5vw;

        order: 3;
    }

    #choose {
        top: 15.35vw;
        right: 17.2vw;
    }

    #select {
        top: 22.8vw;
        right: 26.5vw;
    }

    .interaction__card-icon {
        top: 0.1vw;
        left: 3vw;

        width: 43%;
        margin-bottom: 5px;
    }

    .interaction__card-description {
        letter-spacing: 0.03rem;

        font-size: 1.35rem;
        line-height: 2rem;
    }
}
