@media only screen and (--tablet-viewport) {
    #interaction {
        height: 62vw;
    }

    .interaction__container {
        flex-direction: row;

        width: 90%;
        padding: 1% 0 1%;
    }

    .interaction__info {
        flex: 1 1 80%;

        padding-top: 2%;

        align-items: center;
        justify-content: center;
    }

    .interaction__title {
        width: 100%;
        margin: 0 0 2.7%;

        font-size: 2.6em;
        line-height: 1.24em;
    }

    .interaction__header {
        padding-bottom: 10%;
    }

    .interaction__header > h5 {
        flex-direction: column;

        letter-spacing: 0.06em;

        font-size: 2.8em;

        align-items: center;
    }

    .interaction__header > h5::after {
        display: inline-block;

        width: 19vw;
        height: 1px;
        margin-top: 12px;

        border: 1px solid;
    }

    .interaction__content {
        width: 80%;

        text-align: center;
        letter-spacing: 0.025em;
        word-break: break-word;

        font-size: 1.7em;
        font-weight: bold;
        line-height: 1.31em;
    }

    .interaction__cards {
        display: flex;
        flex-direction: column;
        flex: 1 1 20%;

        height: 100%;

        align-items: center;
        justify-content: space-around;
    }

    .interaction__card-item {
        width: 11.8vw;
        height: 11.8vw;
        padding: 5px;
    }

    figure#ask {
        top: 7.9vw;
        right: 26.5vw;

        order: 3;
    }

    figure#choose {
        top: 15.35vw;
        right: 17.2vw;
    }

    figure#select {
        top: 22.8vw;
        right: 26.5vw;
    }

    .interaction__card-content > img {
        top: 0.1vw;
        left: 3vw;

        width: 43%;
        margin-bottom: 5px;
    }

    .interaction__card-content > figcaption {
        position: relative;

        height: 50%;

        letter-spacing: 0.03em;

        font-size: 1.35em;
        line-height: 1.25em;
    }
}
