#aboutUs {
    height: 130vw;
}

.aboutUs__header {
    margin: 8% 0 1%;

    letter-spacing: 0.15em;
}

#aboutUs .layout__info-header__title {
    font-family: var(--lato-font-regular);
    font-weight: bold;
}

.aboutUs__content {
    display: flex;
    flex-direction: column;

    height: 100%;

    align-items: center;
}

#aboutUs .layout__info-content {
    color: var(--color-black);

    font-family: var(--lato-font-regular);
    font-weight: 500;
}


/* graphical info */
#aboutUs .layout__graphical-info {
    flex: 1 1 50%;
}

.aboutUs__graphical-info-item > span {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 2.5vw 0 0.8vw;

    letter-spacing: -0.02vw;

    font-size: 8em;

    align-items: center;
    justify-content: flex-end;
}

.aboutUs__graphical-info-item > span::before {
    display: block;

    width: 0vw;
    height: 0vw;
    margin-bottom: 2vw;

    content: "";

    border: 0.5em solid;
    border-radius: 50%;
}

.aboutUs__graphical-info-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;

    font-family: var(--base-font-regular);

    align-items: center;
}

.aboutUs__graphical-info-item-text {
    letter-spacing: 0.04vw;

    color: var(--color-black);

    font-size: 3em;
}

.aboutUs__graphical-info-item::after {
    width: 84%;
    height: 3;
    margin-top: 4vw;

    content: "";

    border: 0.25vw solid;
    border-radius: 3px;
}



/* color themes */
.green.aboutUs__graphical-info-item {
    color: var(--color-green);
}
.green.aboutUs__graphical-info-item > span::before {
    box-shadow: 0 0 0 2px var(--color-secondary),
    0 0 0 0.3em var(--color-green-opacity);
}

.red.aboutUs__graphical-info-item {
    color: var(--color-red);
}
.red.aboutUs__graphical-info-item > span::before {
    box-shadow: 0 0 0 2px var(--color-secondary),
    0 0 0 0.3em var(--color-red-opacity);
}

.orange.aboutUs__graphical-info-item {
    color: var(--color-orange);
}
.orange.aboutUs__graphical-info-item > span::before {
    box-shadow: 0 0 0 2px var(--color-secondary),
    0 0 0 0.3em var(--color-orange-opacity);
}