@media only screen and (--mobile-viewport) {
    #aboutUs {
        height: 136vw;
    }


    /* graphical content section */
    #aboutUs .template-layout__graphical-info {
        flex: 1 1 50%;
    }

    .aboutUs__stats-item > span {
        letter-spacing: -0.02vw;

        font-size: 8rem;
    }

    .aboutUs__stats-item-text {
        font-size: 3rem;
    }

    .aboutUs__stats-item > span:before {
        margin-bottom: 6vw;
    }
}