@media only screen and (--tablet-viewport) {
    #aboutUs .layout__container {
        flex-direction: column;
    }

    #aboutUs .layout__graphical-info {
        flex-direction: row;
        flex: 1 1 50%;

        width: 100%;
        padding-bottom: 4vw;

        order: -1;
    }

    #aboutUs .layout__text-info {
        justify-content: flex-start;
    }

    #aboutUs .layout__info-header__title {
        text-align: center;

        font-size: 6.6em;
    }

    #aboutUs .layout__info-header > h5 {
        font-size: 3.8em;
    }

    #aboutUs .layout__info-content {
        width: 90%;

        font-size: 3em;
    }
}