.flex-list {
    display: flex;

    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-list__item {
    position: relative;

    display: flex;

    width: 50%;
}

@media only screen and (--mobile-viewport) {
    .flex-list__item:nth-child(odd)::before {
        position: absolute;
        top: 13px;
        right: 0;

        height: 37px;

        content: "";

        border-left: 1px solid var(--color-primary);
    }

    .flex-list__item:nth-child(-n + 4)::after {
        width: 82px;

        content: "";

        border-top: 1px solid var(--color-primary);
    }
}

@media only screen and (--tablet-viewport) {
    .flex-list__item {
        width: 25%;
    }

    .flex-list__item:nth-child(odd)::before {
        position: absolute;
        top: 22px;
        right: 0;

        height: 123px;

        content: "";

        border-left: 2px solid var(--color-primary);
    }

    .flex-list__item:nth-child(-n + 4)::after {
        width: 320px;

        content: "";

        border-top: 2px solid var(--color-primary);
    }
}

@media only screen and (--desktop-viewport) {
    .flex-list__item {
        width: 25%;
    }

    .flex-list__item:nth-child(-n + 2)::before,
    .flex-list__item:nth-child(4)::before,
    .flex-list__item:nth-child(5)::before {
        position: absolute;
        top: 21px;
        right: 0;

        height: 69px;

        content: "";

        border-left: 1px solid var(--color-primary);
    }

    .flex-list__item:nth-child(-n + 3)::after {
        width: 183px;

        content: "";

        border-top: 1px solid var(--color-primary);
    }
}
