.header {
    min-width: 320px;

    color: var(--color-secondary);
    background-color: rgb(18, 17, 17);

    font-family: var(--font-regular);
    font-weight: 100;
}

.header__container {
    position: relative;

    display: flex;

    width: 320px;
    margin: auto;
    padding-left: 0;

    align-items: center;
    justify-content: center;
}

@media screen and (--tablet-viewport) {
    .header__container {
        width: var(--min-section-width-tablet);
        padding-left: 101px;

        justify-content: center;
    }
}

@media only screen and (--desktop-viewport) {
    .header__container {
        width: var(--min-section-width-desktop);
        padding-left: 145px;
    }
}
