.section-container {
    display: flex;
    flex-direction: column;

    width: var(--min-section-width-mobile);
    margin: auto;

    align-items: center;
}

@media only screen and (--tablet-viewport) {
    .section-container {
        width: var(--min-section-width-tablet);
    }
}

@media only screen and (--desktop-viewport) {
    .section-container {
        width: var(--min-section-width-desktop);
    }
}
