@media only screen and (--mobile-viewport) {
    .layout__container {
        width: 90%;
        padding: 5% 0;
    }

    .layout__text-info {
        flex: 1 1 55%;

        order: 1;
    }

    .layout__info-header__title {
        width: 100%;
        margin: 0 0 2.7%;

        text-align: center;

        font-size: 6em;
        line-height: 1.24em;
    }

    .layout__info-header {
        padding-bottom: 6%;
    }

    .layout__info-header > h5 {
        letter-spacing: 0.06em;

        font-size: 5em;

        align-items: center;
    }

    .layout__info-header > h5::after {
        width: 19vw;
        height: 1px;
        margin-top: 12px;

        border: 1px solid;
    }

    .layout__info-content {
        width: 100%;

        text-align: center;
        letter-spacing: 0.025em;
        word-break: break-word;

        font-size: 3.8em;
        font-weight: bold;
        line-height: 1.31em;
    }

    .layout__graphical-info {
        display: flex;
        flex-direction: row;
        flex: 1 1 15%;

        width: 100%;
        padding-bottom: 10%;

        align-items: center;
        justify-content: space-around;
    }
}
