.header {
    min-width: 320px;

    color: var(--color-secondary);
    background-color: rgb(18, 17, 17);

    font-family: var(--font-regular);
    font-weight: 100;
}

.header__container {
    position: relative;

    display: flex;

    width: 320px;
    margin: auto;
    padding-left: 0;

    background-color: inherit;
    /* align-items: center; */

    justify-content: center;
}

.header__logo-slot {
    margin: 13px 0;
}

.header__navbar-slot {
    display: flex;

    background-color: inherit;

    align-items: center;
}

@media only screen and (--mobile-viewport) {
    .header__navbar-collapse_target {
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;

        transition: all var(--menu-animation-duration);

        background-color: inherit;
    }

    .header__navbar-collapse_trigger:focus + .header__navbar-collapse_target {
        left: 0;

        /* animation-name: collapse-out;
        animation-duration: var(--menu-animation-duration);
        animation-timing-function: ease-in-out;
        animation-direction: alternate;

        animation-fill-mode: both; */
    }

    /* @keyframes collapse-out {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    } */
}

@media screen and (--tablet-viewport) {
    .header__container {
        width: var(--min-section-width-tablet);
        padding-left: 101px;

        justify-content: center;
    }

    .header__logo-slot {
        display: none;
    }

    .header__toolbar-slot {
        margin-left: 36px;
    }
}

@media only screen and (--desktop-viewport) {
    .header__container {
        width: var(--min-section-width-desktop);
        padding-left: 145px;
    }

    .header__logo-slot {
        margin: 0;
        margin-right: 73px;
    }

    .header__toolbar-slot {
        margin-left: 36px;
    }
}
