#partners {
    position: relative;

    overflow: hidden;

    width: 100%;
}

.partners__image {
    width: 100%;
    height: 100%;
}

.partners__header {
    margin: 8% 0 1%; /* tablet/mobile */

    letter-spacing: 0.15em;
}

.partners__container.image-shadow {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: rgba(50, 49, 49, 0.7);

    align-items: center;
    justify-content: flex-start;
}

.partners__list {
    padding: 5% 0;

    flex-wrap: wrap;
    justify-content: center;
}

.partners__list-item {
    display: flex;

    width: 33%; /* tablet/mobile */
    height: 33%; /* tablet/mobile */

    align-items: center;
    justify-content: center;
}


/* tablet/mobile */
.partners__contol-arrow {
    display: none;
}


/* image sizes adjustment (tablet/mobile) */
#mccann > img {
    width: 80%;
}

#unwomen > img {
    width: 74%;
}

#accenture > img {
    width: 80%;
}

#cisco > img {
    width: 60%;
}

#eventbrite > img {
    width: 80%;
}

#zappos > img {
    width: 72%;
}

#siemens > img {
    width: 86%;
}


/* fixing order (tablet/mobile) */
#unwomen {
    order: 0;
}

#accenture {
    order: 1;
}

#eventbrite {
    order: 2;
}

#mccann {
    order: 3;
}

#cisco {
    order: 4;
}

#zappos {
    order: 5;
}

#siemens {
    order: 6;
}
