@media only screen and (--mobile-viewport) {
    #partners {
        height: 110vw;

        font-size: 3.4em;
    }

    .partners__image-background {
        background-image: url("./assets/images/partners/background_mobile.png");
    }
}