.navbar {
    height: var(--navbar-height);

    color: rgb(245, 245, 245);
    background-color: rgb(18, 17, 17);
}


/*------------*/
/* Logo block */
.navbar__logo_container {
    border: 10px solid rgb(223, 37, 37); /* temporary */
}


/*-----------------*/
/* Menu tabs block */
.navbar__tabs {
    border: 10px solid rgb(90, 223, 37); /* temporary */
}

.navbar__tab-item {
    display: flex;

    cursor: pointer;

    border: 2px solid transparent;

    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.navbar__tab-item:hover {
    border-top: 2px solid rgb(245, 245, 245);
    background-color: rgb(185, 183, 183);
}

.navbar__toggle-menu {
    position: absolute;
    right: 0;

    display: none;

    width: 20%;
    height: var(--navbar-height);

    border: 10px solid rgb(221, 121, 28); /* temporary */
}


/*--------------------*/
/* Toolbar tabs block */
.navbar__toolbar {
    border: 10px solid rgb(31, 102, 235); /* temporary */
}


@media screen and (--tablet-viewport) {
    /* .navbar {
        height: 100px;
    } */
}

@media screen and (--mobile-viewport) {
    /* .navbar {
        height: 60px;
    } */

    .navbar__logo_container {
        flex-grow: 5;
    }

    .navbar__tabs {
        display: none;
    }

    .navbar__toolbar {
        display: none;
    }

    .navbar__toggle-menu {
        display: block;
    }
}
