@media screen and (--desktop-viewport) {
  :root {
    --navbar-height: 10.4em;
  }
}

@media screen and (--tablet-viewport) {
  :root {
    --navbar-height: 100px;
  }
}

@media screen and (--mobile-viewport) {
  :root {
    --navbar-height: 135px;
  }
}
