@media only screen and (--desktop-viewport) {
    #features {
        height: 72.6vh;
        padding: 2.5% 0;
    }

    .features__header {
        padding-bottom: 0;
    }

    #question::before,
    #vote::before {
        display: none;
    }

    #vote .features__content-item__inner::after,
    #survey .features__content-item__inner::after,
    #policy .features__content-item__inner::after {
        display: none;
    }
}