@media only screen and (--desktop-viewport) {
    .features__container {
        width: var(--min-section-width-desktop);
        padding: 28px 175px 43px;
    }

    .features__header {
        padding-bottom: 0;

        letter-spacing: 4px;
    }

    .features__content-item-icon {
        height: 34px;
        margin: 26px 0 17px;
    }

    .features__content-item-description {
        padding-bottom: 12px;

        letter-spacing: 0.18px;

        font-size: 18px;
    }

    #question::before,
    #vote::before {
        display: none;
    }

    #vote .features__content-item__inner::after,
    #survey .features__content-item__inner::after,
    #policy .features__content-item__inner::after {
        display: none;
    }
}