@media only screen and (--tablet-viewport) {
    .features__container {
        width: 768px;
        padding: 50px 0 58px;
    }

    .features__header {
        padding: 0;

        letter-spacing: 3.6px;

        font-size: 29px;
    }

    .features__content-item {
        width: 50%;
    }

    .features__content-item-icon {
        height: 64px;
        margin: 37px 0 16px;
    }

    .features__content-item-description {
        margin-bottom: 33px;

        font-size: 32px;
    }

    .features__content-item::before {
        height: 65%;
    }

    .features__content-item__inner::after {
        width: 85%;
    }

    #question::before,
    #vote:before,
    #statistics::before {
        display: none;
    }

    #statistics .features__content-item__inner::after,
    #policy .features__content-item__inner::after {
        display: none;
    }

    #statistics {
        order: 1;
    }

    #policy {
        order: 2;
    }
}