#home {
    position: relative;

    overflow: hidden;
}

#home::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(to bottom, rgba(34, 43, 119, 0.7) 0%,
    rgba(8, 53, 99, 0.8) 100%);
}

.phone__image {
    position: absolute;
    z-index: 1;
}

.home__image {
    width: 100%;

    transform: scale(1.06) translate(10px, -1.5%);
}

.home__info {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;
}

#home__title,
#home__title-shadow {
    position: relative;
}

#home__title-shadow {
    z-index: -1;
}

.home__controls {
    position: relative;

    justify-content: space-between;
}

.home__controls-pair {
    display: flex;
}
