@media only screen and (--tablet-viewport) {
    .home__image {
        height: 52.4vw;

        background-image: url("assets/images/home/background_mobile.jpg");
    }

    .phone__image {
        right: 2.7vw;
        bottom: -15.7vw;

        width: 30.7%;
    }

    .home__info {
        top: 29.82%;

        width: 100%;
        height: 70%;
    }

    #homeSubtitle {
        top: 1.7%;
        left: 16.6%;

        letter-spacing: 1.2px;
    }

    #homeTitle {
        left: 4%;

        width: 62%;
    }

    #homeTitle::before,
    #homeTitle::after {
        bottom: -1rem;
    }

    #homeTitle::before {
        width: 18vw;
    }
    #homeTitle::after {
        right: 19.2vw;

        width: 0.3em;
    }


    .home__controls {
        top: 30.3%;
        left: 21.8%;

        width: 30%;

        font-size: 1.4rem;
    }

    .home__controls .home__button {
        flex: 1 1 50%;

        height: 3.2vw;
    }

    #createEvent {
        margin-right: 10%;

        flex-shrink: 1.3;
    }

    .home__controls-pair {
        flex: 1.2 1 63%;
    }
}