#howItWorks {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;

    align-items: center;
    justify-content: flex-start;
}

.howItWorks__header {
    letter-spacing: 6.5px;
}

.howItWorks__content {
    display: flex;

    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.howItWorks__tip {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.howItWorks__tip__image-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;
}

.howItWorks__tip__image-wrapper.primary {
    border: 1px solid rgb(3, 118, 147);
}

img#freeAccount {
    width: 32px;
}

img#discussIssue {
    width: 64px;
}

img#qrCode {
    width: 56px;
}

img#favorites {
    width: 72px;
}
