@media only screen and (--desktop-viewport) {
    #howItWorks {
        height: 71.5vh;
        padding-top: 11.9vh;
    }

    .howItWorks__header {
        margin-top: 0;
        margin-bottom: 4.5%;
    }

    .howItWorks__content {
        width: 85vw;
        height: 42vh;
    }

    .howItWorks__tip {
        width: 25%;
        height: 100%;

        justify-content: center;
    }

    .howItWorks__tip > p {
        margin-top: 5vh;
    }

    .howItWorks__tip__image-wrapper {
        width: 13.6vh;
        height: 13.6vh;
    }

    .howItWorks__tip > p {
        width: 80%;
        height: 44%;

        font-size: 1.6em;
    }

    img#freeAccount {
        width: 4.2vh;
    }

    img#discussIssue {
        width: 8.6vh;
    }

    img#qrCode {
        width: 7.75vh;
    }

    img#favorites {
        width: 10.4vh;
    }
}
