@media only screen and (--desktop-viewport) {
    :root {
        font-size: 1vw;
    }

    #howItWorks {
        height: 72vh;
        padding-top: 11.9vh;
    }

    .howItWorks__header {
        margin-bottom: 5%;
        padding-bottom: 14px;

        letter-spacing: 0.15em;
    }

    .howItWorks__content {
        width: 85vw;
        height: 42vh;
    }

    .howItWorks__tip {
        width: 25%;
        height: 100%;
    }

    .howItWorks__tip__image-wrapper {
        width: 13.6vh;
        height: 13.6vh;
    }

    .howItWorks__tip > p {
        display: flex;

        width: 80%;
        height: 44%;

        font-size: 1.6em;
    }

    img#freeAccount {
        width: 4.2vh;
    }

    img#discussIssue {
        width: 8.6vh;
    }

    img#qrCode {
        width: 7.75vh;
    }

    img#favorites {
        width: 10.4vh;
    }
}
