@media only screen and (--mobile-viewport) {
    :root {
        font-size: 1.54vh;
    }

    #howItWorks {
        height: 70.1vh;
        padding-top: 2vh;
    }

    .howItWorks__header {
        margin: 5% 0 8.5%;

        letter-spacing: 0.45rem;

        font-size: 3rem;
    }

    .howItWorks__content {
        width: 90vw;
        height: 75%;
    }

    .howItWorks__tip {
        flex: auto;

        width: 50%;
        height: 50%;
    }

    .howItWorks__tip__image-wrapper {
        width: 13vh;
        height: 13vh;
    }

    .howItWorks__tip > p {
        display: flex;

        width: 90%;
        height: 34%;

        font-size: 1.4rem;
    }

    img#freeAccount {
        width: 32px;
    }

    img#discussIssue {
        width: 64px;
    }

    img#qrCode {
        width: 56px;
    }

    img#favorites {
        width: 72px;
    }
}
