@media only screen and (--tablet-viewport) {
    #howItWorks {
        height: 35vw;
        padding-top: 2.3vh;
    }

    .howItWorks__header {
        margin-bottom: 1%;

        font-weight: 500;
    }

    .howItWorks__content {
        width: 85vw;
        height: 19vh;

        font-size: 1.2em;
    }

    .howItWorks__content {
        width: 90vw;
        height: 80%;
    }

    .howItWorks__tip {
        width: 25%;
        height: 100%;

        justify-content: center;
    }

    .howItWorks__tip__image-wrapper {
        width: 9.4vw;
        height: 9.4vw;
    }

    .howItWorks__tip > figcaption {
        width: 80%;
        height: 28%;
        margin-top: 15%;

        font-size: 1.6em;
    }

    img#freeAccount {
        width: 3.5vw;
    }

    img#discussIssue {
        width: 6vw;
        height: 6vw;
    }

    img#qrCode {
        width: 5.48vw;
    }

    img#favorites {
        width: 7.1vw;
    }
}
