@media only screen and (--mobile-viewport) {
    footer {
        height: 147vw;
    }

    footer header {
        margin-top: 0.1em;
        margin-bottom: 6.5vw;

        font-size: 5.2rem;
    }

    /* logo block */
    .footer__logo-container {
        flex: 0 0;
    }

    .footer__links {
        display: none;
    }

    .footer__logo-container > p {
        width: 90%;

        font-size: 3.6em;
    }

    .footer__logo-container > img {
        width: 20%;
        padding-bottom: 6vw;
    }

    .footer__social {
        flex: 0 0;

        width: 80%;
        padding: 12vw 0;

        font-size: 4em;
    }

    input[type=email] {
        padding-bottom: 1.6vw;
    }

    .footer__copyright {
        position: relative;
        bottom: 8.5vw;

        text-align: center;

        font-size: 4.2em;
    }

    .footer__email-form-title {
        padding: 4vw 0;
    }
}