.header {
    display: flex;

    color: var(--color-secondary);
    background-color: rgb(18, 17, 17);

    justify-content: center;
}

.header__container {
    display: flex;

    margin: auto;
}


.navbar__tabs-list-item {
    cursor: pointer;

    border: 2px solid transparent;

    flex-grow: 1;
}

.navbar__tabs-list-item-link {
    display: flex;

    width: 100%;

    justify-content: center;
}

.navbar__tabs-list-item:hover,
.navbar__tabs-list-item:focus,
.navbar__tabs-list-item:active {
    border-top: 2px solid rgb(245, 245, 245);
    background-color: rgb(22, 22, 22);
}

.navbar__tabs-list-item > a {
    display: flex;

    height: 100%;

    align-items: center;
}

.header__toolbar {
    display: flex;

    align-items: center;
}

.header__toolbar-control {
    flex-direction: column;

    cursor: pointer;
}

.header__toolbar-control__text {
    padding-top: 5px;
}


.header__toggle-menu-block {
    display: none;
}

#toggleMenu {
    display: none;
}