.header {
    color: var(--color-secondary);
    background-color: rgb(18, 17, 17);
}



.header__logo-container {
    display: flex;

    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
}

.logo {
    height: 81%;
}



.navbar__tab {
    display: flex;

    cursor: pointer;

    border: 2px solid transparent;

    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.navbar__tab:hover,
.navbar__tab:active {
    border-top: 2px solid rgb(245, 245, 245);
    background-color: rgb(185, 183, 183);
}

.navbar__tab > a {
    display: flex;

    height: 100%;

    align-items: center;
}



.header__toolbar {
    display: flex;

    align-items: center;
}

.header__toolbar-control {
    flex-direction: column;

    width: 100px;
    height: 100%;
}

.header__toolbar-control > * {
    cursor: pointer;
}

.header__toolbar-control__text {
    padding: 5px;
}

.header__toolbar-control > i {
    width: 26px;
}

#login {
    content: url("./assets/icons/header/login.png");
}

#register {
    content: url("./assets/icons/header/avatar.png");
}



.header__toggle-menu-block {
    display: none;
}

#toggleMenu {
    display: none;
}