@media only screen and (--desktop-viewport) {
    .header {
        height: 17.4vh;
        min-height: 104px;

        font-family: "Myriad Pro Regular";
        font-weight: 100;
    }

    .navbar {
        font-size: 1.6em;
    }

    .header__logo-container {
        padding: 0 4.8%;
    }

    .header__toolbar {
        padding-left: 4.45vw;

        font-size: 0.9em;
    }
}