.header {
    height: 10.4em;

    color: var(--color-secondary);
    background-color: rgb(18, 17, 17);
}


/*------------*/
/* Logo block */
.header__logo-container {
    display: flex;

    padding: 0 4.2%;

    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
}

.logo {
    height: 136px;
}


/*-----------------*/
/* Navigation bar block */
.navbar {
    border: 10px solid rgb(90, 223, 37); /* temporary */
}

.navbar__tab {
    display: flex;

    cursor: pointer;

    border: 2px solid transparent;

    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.navbar__tab:hover {
    border-top: 2px solid rgb(245, 245, 245);
    background-color: rgb(185, 183, 183);
}

.navbar__tab > a {
    display: flex;

    height: 100%;

    align-items: center;
}


/*--------------------*/
/* Toolbar tabs block */
.header__toolbar {
    border: 10px solid rgb(31, 102, 235); /* temporary */
}

.header__toggle-menu-block {
    display: none;
}

#toggleMenu {
    display: none;
}