@media screen and (--mobile-viewport) {
    .header {
        height: 230px;
    }

    .header__logo-container {
        flex-grow: 2;
        justify-content: center;
    }

    .logo {
        height: 140px;
    }

    .navbar {
        display: none;
    }

    .header__toolbar {
        display: none;
    }


    /*--------------------*/
    /* Toggle menu block */
    .header__toggle-menu-block {
        position: absolute;
        right: 0;

        display: flex;

        width: 20%;
        height: var(--header-height-mobile);
    }

    .header__toggle-menu__content {
        display: flex;
        flex-direction: column;

        width: 56px;
        height: 56px;
        margin: auto;

        cursor: pointer;

        border: 2px solid var(--color-secondary);
        border-radius: 50%;

        align-items: center;
        justify-content: center;
    }

    .header__toggle-menu__bar {
        position: relative;
        top: 0;
        left: 0;

        width: 36px;
        height: 2px;
        margin: 4px auto;

        background-color: var(--color-secondary);
    }


    /* Menu click effects */
    .header__toggle-menu__content .header__toggle-menu__bar {
        transition: all 0.6s;
    }

    .header__toggle-menu__content:focus {
        outline: none;
    }

    .header__toggle-menu__content:focus .header__toggle-menu__bar {
        margin: 0 auto;
    }

    .header__toggle-menu__content:focus > #bar-top {
        transform: rotateZ(45deg) translateY(1px);
    }

    .header__toggle-menu__content:focus > #bar-bottom {
        transform: rotateZ(-45deg) translateY(-1px);
    }


    .header__toggle-menu__content:focus > #bar-middle {
        width: 0;

        animation: disappear 0.6s ease-in-out 0s forwards;
    }
}

@keyframes disappear {
    to {
        height: 0;
    }
}