@media screen and (--mobile-viewport) {
    :root {
        --header-height: 20vh;
        --header-min-height: 120px;

        --icon-animation-duration: 0.4s;
    }

    .header {
        height: var(--header-height);
        min-height: var(--header-min-height);
    }

    .header__logo-container {
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 85%;
    }

    .navbar {
        position: absolute;
        left: 100%;
        display: none;
        
        font-size: 6em;
        z-index: 2;
        
        background-color: inherit;
        
        height: 100%;
        flex-direction: column;
        transition: all 0.3s;
    }

    .navbar__tab {
        height: 20vw;
        flex-grow: 0;
    }

    .header__toolbar {
        display: none;
    }
    
    .header__toggle-menu-block {
        position: absolute;
        right: 0;

        display: flex;

        width: 20%;
        min-height: var(--header-min-height);
        height: var(--header-height);
    }

    .header__toggle-menu__content {
        display: flex;
        flex-direction: column;

        width: 15vw;
        height: 15vw;
        

        margin: auto;

        cursor: pointer;

        border: 2px solid var(--color-secondary);
        border-radius: 50%;

        align-items: center;
        justify-content: center;
    }

    .header__toggle-menu__bar {
        width: 7vw;
        min-width: 28px;
        
        height: 2px;
        margin: 4px auto;

        background-color: var(--color-secondary);
    }


    /* Menu click effects */
    .header__toggle-menu__bar {
        transition: all var(--icon-animation-duration);
    }

    .header__toggle-menu__content:focus {
        outline: none;
    }

    /* making menu visible */
    .header__toggle-menu-block > .header__toggle-menu__content:focus ~.navbar {
        left: 0;
    }

    .header__toggle-menu__content:focus .header__toggle-menu__bar {
        margin: 0 auto;
    }

    .header__toggle-menu__content:focus > #bar-top {
        transform: rotateZ(45deg) translateY(1px);
    }

    .header__toggle-menu__content:focus > #bar-bottom {
        transform: rotateZ(-45deg) translateY(-1px);
    }

    .header__toggle-menu__content:focus > #bar-middle {
        min-width: 0px;
        width: 0;

        animation-name: disappear;
        animation-duration: var(--icon-animation-duration);
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
    }

    @keyframes disappear {
        to {
            height: 0;
        }
    }
}

