@media screen and (--tablet-viewport) {
    .header {
        height: 12vw;
        min-height: 90px;

        justify-content: flex-end;
    }

    .navbar {
        max-width: 60%;

        font-size: 2em;
    }

    .header__logo-container {
        display: none;
    }

    .header__toolbar {
        max-width: 30%;
        padding-left: 4.8vw;
    }

    .header__toolbar-control {
        width: 6.5vw;
        min-width: 60px;
    }

    .header__toolbar-control > i {
        width: 1.7vw;
    }
}
