@media screen and (--tablet-viewport) {
    .header {
        font-family: var(--font-regular);
        font-weight: 100;
    }

    .header__container {
        justify-content: center;
    }

    .header__logo-container {
        display: none;
    }

    .navbar {
        display: flex;

        min-width: 400px;

        font-size: 13px;
    }

    .navbar__tabs-list {
        width: 100%;
    }

    .navbar__tabs-list-item {
        line-height: 62px;
    }

    .header__toolbar {
        position: relative;
        left: 24px;

        font-size: 8px;
    }

    .header__toolbar-control:first-child {
        margin-right: 24px;
    }

    .header__toolbar-control-icon {
        width: 10px;
    }
}
