@import "./normalize.css";
@import "./styles/variables.css";

/* generic styles */
@import "./styles/helpers/blocks.css";
@import "./styles/helpers/gridColumns.css";

@import "./styles/helpers/headerUnderline.css";
@import "./styles/helpers/templateLayout/index.css";

@import "./styles/header/index.css";
@import "./styles/home/index.css";
@import "./styles/howItWorks/index.css";
@import "./styles/interaction/index.css";
@import "./styles/features/index.css";
@import "./styles/partners/index.css";
@import "./styles/events/index.css";
@import "./styles/aboutUs/index.css";

@font-face {
    font-family: "Myriad Pro Light";
    font-weight: normal;
    font-style: normal;

    src: local("Myriad Pro Light"), url("./assets/fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Myriad Pro Regular"), url("./assets/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: "Myriad Pro Light";
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;

    color: inherit;
}


button {
    cursor: pointer;

    color: var(--color-secondary);
    border: 1px solid transparent;
    outline: none;
}

:root {
    font-family: var(--lato-font-regular);
}
h1 {
    font-family: var(--base-font-light);
    font-weight: 100;
}

@media only screen and (--desktop-viewport) {
    :root {
        font-size: 1vw;
    }
    h1 {
        font-size: 3.4em;
    }

    h4 {
        font-size: 1.98em;
    }
}

@media only screen and (--tablet-viewport) {
    :root {
        font-size: 1vw;
    }
    h1 {
        font-size: 7.8rem;
    }
    h2 {
        font-size: 4.5em;
    }
    h4 {
        font-size: 2.05em;
    }
}

@media only screen and (--mobile-viewport) {
    :root {
        font-size: 1vw;
    }
    h1 {
        font-size: 10rem;
    }
}