@import "./normalize.css";
@import "./styles/variables.css";

/* generic styles */
@import "./styles/general.css";
@import "./styles/grid/columns.css";

@import "./styles/navigationBar.css";
@import "./styles/home.css";
@import "./styles/howItWorks.css";

@font-face {
    font-family: "Myriad Pro Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Myriad Pro Regular"), url("./assets/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: "Myriad Pro Regular";
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;

    color: rgb(245, 245, 245);
}