#events {
    display: flex;
    flex-direction: column;

    background-color: rgb(232, 232, 232);

    align-items: center;
    justify-content: flex-start;
}

.events__container {
    display: flex;
    flex-direction: column;

    margin: auto;

    align-items: center;
}

.events__header {
    margin: 0;
}

.events__content {
    display: flex;

    align-items: center;
}

.events__card {
    flex: 1 1 33%;

    max-width: 33%;

    color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.events__card-header {
    position: relative;

    font-family: var(--font-light);
    font-weight: lighter;
}

.events__card-header::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-position: center;
    background-size: cover;
}

.events__card-header-content {
    z-index: 1;

    flex-direction: column;

    width: 100%;

    letter-spacing: 0.1px;
}


.events__card-header-text_bold {
    font-family: var(--font-regular);
    font-weight: bold;
}

.events__card-content {
    display: flex;
    flex-direction: column;

    color: var(--color-black);

    font-weight: bold;

    align-items: center;
}

.events__card-content-text {
    text-align: center;
    letter-spacing: 0.7px;

    font-family: var(--font-light);
    font-size: 10px;
    line-height: 16px;
}

.events__card-button {
    border: 1px solid transparent;
    border-radius: 40px;
}

.events__card-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#external,
#internal {
    box-shadow: 0 2px 4.8px 0.2px rgba(30, 30, 30, 0.35);
}

#interactive {
    transform: translateY(-4%);

    box-shadow: 0 2.72px 65.28px 2.72px rgba(30, 30, 30, 0.26);
}


.events__card_interactive .events__card-header-content {
    background-color: rgba(242, 98, 80, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 4px var(--color-red);
}
.events__card_interactive .events__card-button {
    background-color: var(--color-red);
}
.events__card_interactive .events__card-button:hover {
    color: var(--color-red);
    border-color: var(--color-red);
    background-color: var(--color-secondary);
}

.events__card_internal .events__card-header-content {
    background-color: rgba(240, 167, 101, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 4px var(--color-orange);
}
.events__card_internal .events__card-button {
    background-color: var(--color-orange);
}
.events__card_internal .events__card-button:hover {
    color: var(--color-orange);
    border-color: var(--color-orange);
    background-color: var(--color-secondary);
}

.events__card_external .events__card-header-content {
    background-color: rgba(76, 165, 154, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 4px var(--color-green);
}
.events__card_external .events__card-button {
    background-color: var(--color-green);
}
.events__card_external .events__card-button:hover {
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--color-secondary);
}
