#events {
    display: flex;
    flex-direction: column;

    height: 42.8vw;
    padding-top: 1%;

    background-color: rgb(232, 232, 232);

    align-items: center;
    justify-content: flex-start;
}


/* sections header */
.events__header {
    margin-bottom: 1.4em;

    letter-spacing: 0.15em;
}


/* sections content */
.events__content {
    display: flex;

    width: 100%;
    height: 80%;
    padding: 0 9%;

    align-items: center;
}


/* card item */
.events__card {
    flex: 1 1 calc(100% / 3);

    max-width: calc(100% / 3);
    height: 94%;

    color: var(--color-secondary);
    background-color: var(--color-secondary);
}


/* card items header */
.events__card > header {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 46%;

    text-align: center;
    letter-spacing: 0.01em;

    font-family: var(--font-light);
    font-weight: lighter;
}

.events__card > header::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-position: center;
    background-size: cover;
}

.events__card > header > span {
    font-family: var(--font-regular);
    font-size: 1.15em;
    font-weight: bold;
}


/* card items content */
.events__card-content {
    display: flex;
    flex-direction: column;

    height: 60%;
    padding: 0.4vw 0;

    color: var(--color-black);

    font-weight: bold;

    align-items: center;
}

.events__card-content > p {
    width: 70%;

    text-align: center;
    letter-spacing: 0.07em;

    font-family: var(--font-light);
    line-height: 1.6em;
}

.events__card-content > button {
    width: 9.2vw;
    height: 2.75vw;

    border: 1px solid transparent;
    border-radius: 40px;
}


/* card items content icons */
.events__card-icon {
    height: 30%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* card items content icons*/
#external .events__card-icon {
    width: 9.4%;
}

#interactive .events__card-icon {
    width: 12%;
}

#internal .events__card-icon {
    width: 11%;
}


/* card items shadows */
#external,
#internal {
    box-shadow: 0 2px 4.8px 0.2px rgba(30, 30, 30, 0.35);
}

#interactive {
    box-shadow: 0 2.72px 65.28px 2.72px rgba(30, 30, 30, 0.26);
}


/* card items positioning transforms */
#external {
    transform: scale(0.89) translate(4.7vw,-0.4vw);
}

#interactive {
    z-index: 1;

    transform: translateY(-4%);
}

#internal {
    transform: scale(0.89) translate(-4.7vw, -0.4vw);
}


/* color themes (desktop/tablet) */
.events__card_red > header {
    background-color: rgba(242, 98, 80, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 6px var(--color-red);
}
.events__card_red button {
    background-color: var(--color-red);
}
.events__card_red button:hover {
    color: var(--color-red);
    border-color: var(--color-red);
    background-color: var(--color-secondary);
}

.events__card_orange > header {
    background-color: rgba(240, 167, 101, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 6px var(--color-orange);
}
.events__card_orange button {
    background-color: var(--color-orange);
}
.events__card_orange button:hover {
    color: var(--color-orange);
    border-color: var(--color-orange);
    background-color: var(--color-secondary);
}

.events__card_green > header {
    background-color: rgba(76, 165, 154, 0.8);
    box-shadow: 0 1px var(--color-secondary),
    0 6px var(--color-green);
}
.events__card_green button {
    background-color: var(--color-green);
}
.events__card_green button:hover {
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--color-secondary);
}
