@media only screen and (--desktop-viewport) {
    /* sections header */
    .events__header {
        margin-bottom: 1em;
    }


    /* card items header images */
    #external > header::after {
        background-image: url("./assets/images/events/externalEvent.png");
    }

    #interactive > header::after {
        background-image: url("./assets/images/events/interactiveEvent.png");
    }

    #internal > header::after {
        background-image: url("./assets/images/events/internalEvent.png");
    }


    /* card items content icons*/
    #external .events__card-icon {
        background-image: url("./assets/icons/events/usb-connection.png");
    }

    #interactive .events__card-icon {
        background-image: url("./assets/icons/events/interactivity.png");
    }

    #internal .events__card-icon {
        background-image: url("./assets/icons/events/hard-disk.png");
    }
}