@media only screen and (--tablet-viewport) {
    #events {
        height: 56.8vw;
    }

    .events__content {
        padding: 0;
    }

    #external {
        transform: scale(0.89) translate(0.2vw,-0.8vw);
    }

    #interactive {
        z-index: 1;

        transform: translateY(-4%);
    }

    #internal {
        transform: scale(0.89) translate(-0.2vw, -0.8vw);
    }

    .events__card > header::after {
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        content: "";

        background-position: center;
    }

    .events__card-content > button {
        width: 12.76vw;
        height: 3.75vw;

        border-radius: 40px;

        font-size: 2em;
    }

    .events__card-content > p {
        width: 80%;

        font-size: 1.27em;
    }

    /* header images */
    #external > header::after {
        background-image: url("./assets/images/events/externalEvent.png");
    }

    #interactive > header::after {
        background-image: url("./assets/images/events/interactiveEvent.png");
    }

    #internal > header::after {
        background-image: url("./assets/images/events/internalEvent.png");
    }
}