@media only screen and (--tablet-viewport) {
    #events {
        height: 72.8vw;

        font-size: 2em;
    }


    /* sections header */
    .events__header {
        margin-bottom: 1em;
    }


    /* sections content */
    .events__content {
        padding: 0;
    }

    .events__card > header {
        font-size: 1.9em;
    }


    /* card items transforms */
    #external {
        transform: scale(0.89) translate(0.2vw,-0.8vw);
    }

    #interactive {
        z-index: 1;

        transform: translateY(-4%);
    }

    #internal {
        transform: scale(0.89) translate(-0.2vw, -0.8vw);
    }


    /* header images */
    #external > header::after {
        background-image: url("./assets/images/events/externalEvent.png");
    }

    #interactive > header::after {
        background-image: url("./assets/images/events/interactiveEvent.png");
    }

    #internal > header::after {
        background-image: url("./assets/images/events/internalEvent.png");
    }


    /* card items content */
    .events__card-content > button {
        width: 14.76vw;
        height: 4.75vw;

        border-radius: 40px;
    }

    .events__card-content > p {
        width: 90%;
        padding-bottom: 1.5em;

        font-size: 0.8em;
    }


    /* card items content icons*/
    #external .events__card-icon {
        background-image: url("./assets/icons/events/usb-connection.png");
    }

    #interactive .events__card-icon {
        background-image: url("./assets/icons/events/interactivity.png");
    }

    #internal .events__card-icon {
        background-image: url("./assets/icons/events/hard-disk.png");
    }
}